@import './colors';

main {
   div {
      margin: 10px;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      p {
         padding-bottom: 2.5em;
      }

      svg {
         margin: 0em 1em 1em 16em;
      }


   }

   .boxcard1 {
      border-top: 6px solid $Cyan;
   }

   .boxcard2 {
      border-top: 6px solid $Red;
   }

   .boxcard3 {
      border-top: 6px solid $Orange;
   }

   .boxcard4 {
      border-top: 6px solid $Blue;
   }
}